.hero{
    height: 45%;
    padding: 1.5rem 3rem;
    //text-align: center;
    position: relative;
    &--img{
        height: 85%;
        position: absolute;
        top: 1rem;
        left: 18%;
        &-grid{
            height: 100%;
        }
    }
    &--text{
        position: absolute;
        top: 95%;
        & > h2{
            font-style: normal;
            font-weight: 600;
            font-size: 4rem;
            line-height: 6rem;
        }
        & > p{
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            width: 50%;
        }
    }
}